@import "tailwindcss";

/* Always show the table */
.responsive-table-wrapper {
  overflow-x: auto;
  margin-top: 12px;
}

.invoice-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
}

.invoice-table th,
.invoice-table td {
  border: 2px solid #ccc;
  padding: 8px;
}
